
*{
	margin:0;
	padding:0;
}


body{
	font-family: 'Nunito Sans', sans-serif;
	background: linear-gradient(315.42deg, #3D589E 23.44%, #536ADE 59.05%, #2594EF 93.92%, #469EEF 93.92%);
}


#topheader{
  margin: 900px;
}

.main{
	height:calc(100vh - 100px);	
/* 	 */
	align-items: center;
	justify-content: center;
  padding-bottom: 10%;
}

.robot-img{
	float: right;
  width:100%;
	height: auto;
  margin-bottom: 5%;
}

main h1{
	font-weight: bold;
	font-size: 74px;
	color: #fff;
}
main h2{
  padding-top: 100px;
	font-size: 36px;
	color: #fff;
}
main p{
	font-size: 24px;
	line-height: 33px;
	color: #FFFFFF;
}

main .btn {
  margin-top: 10px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;  
  background-image: linear-gradient(to right, #FFA3C6,rgb(253, 106, 197), #FF40B3,#FFA3C6);
}

main .btn:hover {
  color: white;
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(221, 21, 221, 0.75);
}

main .btn:focus {
  color: white;
  
}
 


#metrics{	
	height:auto;		
	position: relative;	
	background-image:url("/metrics_bg.png");	
	padding-bottom: 10%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
#metrics #row-title{
	padding-top: 10%;
}
#metrics .col-12 h1{
  text-align: center;
}
#metrics #number-boxes{  
	padding-top: 1%;
	text-align: center;  
  
  display:flex;
  justify-content: center;
  align-items: center;
}

#metrics h1{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 75px;
	text-transform: uppercase;
	color: #FFFFFF;
}
/* TEMPORARY HIGHLIGHTS FOR THE SIZE OF THE DIVSS*/
.col-3{
  border-style:dotted;
  border-color: red;
}
#metrics .rectangle{
	width: 250px;
  height: 375px;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px 10px 5px rgba(144, 144, 158, 0.1);	
	border-radius: 52px;
}
#metrics .rectangle h2{
  color: #8F72EF;
}
#metrics .rectangle p{
  color: #8F72EF;
}
#metrics .col-lg-3{  
	text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
#metrics .col-sm-12{  
  margin-top: 10%;
	text-align: center;
    
  display:flex;
  justify-content: center;
  align-items: center;
}
#metrics .rectangle .counter{
	padding-top: 50px;
	font-style: normal;
	font-weight: 400;
	font-size: 100px;
  color: #8F72EF;
}
#main{
  margin: 3%;
}
#metrics h2{
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	text-align: center;
}
#metrics p{
	font-style: italic;
	font-weight: 600;
	font-size: 20px;
	line-height: 42px;
	text-align: center;
}

#initiatives{	
	height:auto;		
	position: relative;	
	background-image:url("/init_bg.png");		
	margin: 0 auto;	
  padding-bottom: 50px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#initiatives .top{
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(260.7deg, rgb(177, 209, 250) 22.96%, rgb(143, 162, 255) 39.14%, rgb(2, 141, 255) 114.58%, rgb(58, 160, 255) 174.58%);
  background-clip: padding-box;	
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 10%;
  padding-bottom: 20px;
}

#initiatives .top h1{
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
}
#initiatives .top h2{
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 65px;
}
.projcard-container {
  margin: 40px 0;
  color:rgb(255, 255, 255);
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

.projcard {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  border-radius: 10px;
  background: linear-gradient(#469EEF, #B6B7EF);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 8px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  position: absolute;
  transition: transform 0.2s ease;
  width: 390px;
  height: 390px;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 19px;
}
@media (max-width: 700px){
  .projcard {
    min-width: 320px;
  }
.projcard-img {
display: none;
}
  .projcard-textbox {
    position: absolute;
    min-width: 400px;
    top: 7%;
    bottom: 7%;
    font-size: 17px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
  .projcard-tagbox {
  margin-top: 25px;
  font-size: 14px;
}
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
  width: 70px;
}
.projcard-textbox * {
  position: relative;
}
.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #ffffff;
  transition: width 0.2s ease;
}
.projcard-title {
  font-size: 22px;
  font-weight: bold;
}
.projcard-description {
  z-index: 10;
  color: #fefefe;
  height: 125px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projcard-tagbox {
  bottom: 3%;
  font-size: 14px;
}
#initiatives .projcard-tag {
  width: 159px;
  height: 32px;
  border: none;
  border-radius: 20px;  
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: white;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #FFA3C6,rgb(253, 106, 197), #FF40B3,#FFA3C6);
}
#initiatives .projcard-tag:hover {
  color: white;
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgba(221, 21, 221, 0.75);
}

#portfolios{
	height:auto;		
	position: relative;	
	background-image:url("/port_bg.png");		
	margin: 0 auto;	
  padding-bottom: 10%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#portfolios #row-title{  
  text-align: center;  
  background: linear-gradient(86.3deg, #A0C9F2 27.95%, rgb(129, 131, 221) 176.13%);
  background-clip: padding-box;	
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 10%;
  text-transform: uppercase;
  font-family: Nunito Sans;
}
#portfolios #row-title h2{  
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 65px;
}
#portfolios #row-title h1{  
  font-weight: bolder;
  font-size: 72px;
  line-height: 89px; 
  padding-bottom: 5%;
}
#portfolios .row .col .rectangle{
  width: 536px;
  height: 296px;
  background: linear-gradient(69.32deg, rgba(160, 201, 242, 0.3) 22.65%, rgba(182, 183, 239, 0.3) 63.87%);
  backdrop-filter: blur(42px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  
}
#portfolio .col{
  border-style:dotted;
  border-color:red;
}
#portfolios #col-boxes{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top:2%;

}
#portfolios .row .col .row .col-5 h1{
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;
  mix-blend-mode: hard-light;
  background: -webkit-linear-gradient(86.3deg, #A0C9F2 27.95%, #B6B7EF 176.13%);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
/*   text-align: center;     */
  text-transform: uppercase;
}

#portfolios .row .col .row .col-5{
	text-align:center;
}

#portfolios .btn{
  width: 159px;
  height: 32px;
  background:#fff;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;  
  
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #000;
  
  margin: 0 auto;
  
  
  justify-content: center;
  align-items: center;
  
}
#portfolios .btn:hover{
	background: #000;
  color: #fff; 
}
#portfolios .row .col .row .col-5 .robo-icon{
  padding-top: 20%;
  margin: 0 auto;
  
/*   justify-content: center;
  align-items: center; */
}

#portfolios .row .col .row .col-7 p{
  padding-top: 25%;
  padding-right: 5%;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

#team{  
	height:auto;		
	position: relative;	
	background-image:url("/bgs/team_bg.png");		
	background-repeat: no-repeat;
	background-size: cover ;
	margin: 0 auto;	
  padding-bottom: 20%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#team h1{
  padding-top: 10%;
  font-size: 85px;
  line-height: 102px;
  color: #FAF1F1;
  mix-blend-mode: overlay;
  text-align: center;
  text-transform: uppercase;
}
#team h2{
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(211, 228, 245) ;
  padding-top: 5%;
}
#team .row{
  padding-top:2%;
}
#team .container .row{
  
  justify-content: center;
  align-items: center;
}
#team .container .row .col-3 .container .row .col{  
  
  justify-content: center;
  align-items: center;
}
#team .container .row .col-3 .pfp_icon{
  max-width: 100px;
  max-height: 100px;
  clip-path: circle();
  
  justify-content: center;
  align-items: center;
  /*no clue why its not a circle*/
}
#team .container .row .col-3 h3{
  text-align: center;
}

#alumni{
	height:auto;		
	position: relative;	
	background-image:url("/bgs/alumni_bg.png");		
	background-repeat: no-repeat;
	background-size: cover ;
	margin: 0 auto;	
  padding-bottom: 20%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#alumni h1{
  padding-top: 30%;
  font-size: 80px;
  line-height: 98px;
  text-align: center;
  text-transform: uppercase;
  color:rgb(105, 200, 255);
}
#alumni .cloud-box{
  padding-top:1%;
  display:flex;
  justify-content: center;
  align-items: center;
}
#contact{
	height:auto;		
	position: relative;	
	background-image:url("/bgs/contact_bg.png");		
	background-repeat: no-repeat;
	background-size: cover ;
	margin: 0 auto;	
  padding-bottom: 10%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
}
#contact #row-a{
  padding-top:20%;
}
#contact .row{
  padding-top:5%;
}
#contact #ig-box{
	text-align: center;
    
  justify-content: center;
  align-items: center;
}
#contact .rectangle{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(42px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 51px;
  padding-top: 10px;
  padding-bottom: 10px;  
}
#contact h1{
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 150px;
  color: rgb(51, 62, 121);
  mix-blend-mode: color-burn; 
  text-align: center;
} 
#contact h2{
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  text-align: center;

  color: rgb(51, 62, 121);

  mix-blend-mode: color-burn;
}
#contact h3{
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}
#contact .btn{
  /* blue-purple */
  
  opacity: 0.7;
  border-radius: 70px;
  height: 60px;
  width: 90%;
  
  display:flex;
  justify-content: center;
  align-items: center;  
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;

  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  
  background-size: 300% 100%;
  background-image: linear-gradient(160.32deg, #469EEF, #B6B7EF, #B6B7EF,#469EEF);
}

#contact .btn:hover {
  color: white;
  background-position: 100% 0;

  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  box-shadow: 0 4px 15px 0 rgb(126, 171, 239);
}
#contact .btn:focus {
  color: white;
  
}
#contact #row-btns{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
#contact #social-icon{
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
#contact #social-icon:hover{  
	transform: rotate(360deg);
}
#contact #posts{
  
  display:flex;
  justify-content: center;
  align-items: center;
}
#contact #posts img:hover{
  cursor: pointer;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.3);  
}
#contact .spacer{
  padding-bottom:5%;

}

/* NAV BAR --------------------------------------------------------*/

.logo img{
  transition: transform 1s ease-in-out;
}
.logo img:hover{
	transform: rotate(360deg);
}
ul{
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
}

/* The lil buttons on the nav expand */
ul li{
  justify-content: center;
  list-style: none;
  display: inline-block;
  padding: 0 10px 0;
  color: #fff;
  border-radius: 39px;
  transition: 0.6s;
  margin-left:2px;
  margin-right:2px;
}
/* hover animation  */
ul .active, ul li:hover{
  color:#2D7AEA;
  background: white;
  border-radius: 39px;
}
ul li a{
  color: #fff; 
}

.navbar-brand{
  display:flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1100px){
  .navbar-nav{ 
    align-items: center;
    justify-content: center;
    text-align: center; 
  }
}  

.navbar-brand img{
  transition: transform 1s ease-in-out;
}
.navbar-brand img:hover{
	transform: rotate(360deg);
}




@media (max-width: 1100px){
  
    
  main .btn{
    margin-bottom: 10%;
  }
#metrics #row-title{
	padding-top: 5%;
}
  
  #contact .btn{
    font-size: 16px;

  }
  #sponsor-clouds{
    width:95%;
    height:95%;
  }
  /* not working ??? */
  .robot-img{      
    display:none!important;
  }
  main{/* 
    
    align-items: center;
    justify-content: center;
    text-align: center; */
  }
  #contact h1{
    font-size: 55px;

  }
  #contact h2{
    font-size: 37px;
  }
  #contact #ig-post img{
    width:100px;
    height: auto;      
  }
  #contact #social-icon{
    width:35px;
    height:auto;
  }
  #contact .col-5{
    
    align-content: center;
    justify-content: center;
  }
  #contact .col-5 .rectangle h2{
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    padding-bottom: 20px;
  }
  
  #metrics .col{
    padding-top: 40px;
  }

  #metrics h2{
    font-size: 25px;

  }
  #metrics p{
    font-size: 20px;
  }
  #metrics .rectangle .counter{
    padding: 0px;
    font-size: 75px;
    padding-top:20px;
  }
  
  #metrics .rectangle{
    height: 300px;
  }




}